[user]
    name = Tyler Lawson
    email = tylerjlawson2@gmail.com
[alias]
    a = add
    st = status
    c = commit
    cm = commit -m
    cmn = "!f(){ git commit -m \"$1\" --no-verify;}; f"
    co = checkout
    rb = rebase
    rbom = rebase origin/master
    f = fetch
    b = branch
    ba = branch -a
    bd = branch -d
    l = pull
    p = push
    d = diff
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = log --oneline
    caa = commit -a --amend -C HEAD
[core]
    editor = vim
