[user]
    name = Tyler Lawson
    email = tylerjlawson2@gmail.com
[alias]
    a = add
    st = status
    c = commit
    cm = commit -m
    cmn = "!f(){ git commit -m \"$1\" --no-verify;}; f"
    ca = commit --amend
    caa = commit -a --amend -C HEAD
    caan = commit -a --amend -C HEAD --no-verify
    co = checkout
    rb = rebase
    rbi = "!f(){ git rebase -i HEAD~$1; }; f"
    rbc = rebase --continue
    rbom = rebase origin/master
    rsom = reset --soft origin/master
    rs = reset --soft
    f = fetch
    b = branch
    ba = branch -a
    bd = branch -d
    bclean = "!f(){ git branch | grep -v 'master' | xargs git branch -D; }; f"
    l = pull
    lr = pull --rebase
    p = push
    pub = "!git push -u origin $(git rev-parse --abbrev-ref HEAD)"
    unpub = "!git push origin :$(git rev-parse --abbrev-ref HEAD)"
    d = diff
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = log --oneline
	deploy = "!f(){ subtree push --prefix $1 origin gh-pages; }; f"
[core]
    editor = vim
[pull]
	rebase = false
